/*------------------------------------*\
    $СОДЕРЖАНИЕ
\*------------------------------------*/
/**
 * СОДЕРЖАНИЕ............ Краткий обзор подключаяемых блоков
 * ПЕРЕМЕННЫЕ............ Переменные используемые в блоках
 * RESET................. normalize.css v1.1.3 | Поддержка IE7
 * MARKUP................ Основные элементы разметки
 * РЕЙТИНГ............... Отображение для плагина рейтинг
 * ПРОГРЕСС-БАР.......... Отображение для прогресс-бара
 * ТЕКСТ................. Оформление текстов
 * КНОПКА................ Оформление кнопки
 * HELPERS............... Различные миксины для удобства верстки
 */
/*------------------------------------*\
    $RESET
\*------------------------------------*/
/*! normalize.css v1.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary
{
    display: block;
}
/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video
{
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;

    *display: inline;
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls])
{
    display: none;

    height: 0;
}
/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden]
{
    display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html
{
    font-size: 100%;
    /* 1 */

        -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}
/**
 * Address `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea
{
    font-family: Arial, Helvetica, sans-serif;
}
/**
 * Address margins handled incorrectly in IE 6/7.
 */
body
{
    margin: 0;

    color: #000;
}
/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus
{
    outline: thin dotted;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover
{
    outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address font sizes and margins set differently in IE 6/7.
 * Address font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
h1
{
    font-size: 2em;

    margin: .67em 0;
}
h2
{
    font-size: 1.5em;

    margin: .83em 0;
}
h3
{
    font-size: 1.17em;

    margin: 1em 0;
}
h4
{
    font-size: 1em;

    margin: 1.33em 0;
}
h5
{
    font-size: .83em;

    margin: 1.67em 0;
}
h6
{
    font-size: .67em;

    margin: 2.33em 0;
}
/**
 * Address styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
abbr[title]
{
    border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
b,
strong
{
    font-weight: bold;
}
blockquote
{
    margin: 1em 40px;
}
/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn
{
    font-style: italic;
}
/**
 * Address differences between Firefox and other browsers.
 * Known issue: no IE 6/7 normalization.
 */
hr
{
    -moz-box-sizing: content-box;
         box-sizing: content-box;
    height: 0;
}
/**
 * Address styling not present in IE 6/7/8/9.
 */
mark
{
    color: #000;
    background: #ff0;
}
/**
 * Address margins set differently in IE 6/7.
 */
p,
pre
{
    margin: 1em 0;
}
/**
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp
{
    font-family: monospace, serif;
    font-size: 1em;

    _font-family: 'courier new', monospace;
}
/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre
{
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
/**
 * Address CSS quotes not supported in IE 6/7.
 */
q
{
    quotes: none;
}
/**
 * Address `quotes` property not supported in Safari 4.
 */
q:before,
q:after
{
    content: '';
    content: none;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small
{
    font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup
{
    font-size: 75%;
    line-height: 0;

    position: relative;

    vertical-align: baseline;
}
sup
{
    top: -.5em;
}
sub
{
    bottom: -.25em;
}
/* ==========================================================================
   Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
dl,
menu,
ol,
ul
{
    margin: 1em 0;
}
dd
{
    margin: 0 0 0 40px;
}
/**
 * Address paddings set differently in IE 6/7.
 */
menu,
ol,
ul
{
    padding: 0 0 0 40px;
}
/**
 * Correct list images handled incorrectly in IE 7.
 */
nav ul,
nav ol
{
    list-style: none;
    list-style-image: none;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img
{
    /* 1 */
    -ms-interpolation-mode: bicubic;
    border: 0;
    /* 2 */
}
/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root)
{
    overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure
{
    margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
form
{
    margin: 0;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset
{
    margin: 0 2px;
    padding: .35em .625em .75em;

    border: 1px solid #c0c0c0;
}
/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend
{
    /* 1 */
    padding: 0;

    white-space: normal;

    border: 0;
    /* 2 */

    *margin-left: -7px;
    /* 3 */
}
/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea
{
    font-size: 100%;
    /* 1 */

    margin: 0;
    /* 2 */

    vertical-align: baseline;
    /* 3 */

    *vertical-align: middle;
    /* 3 */
}
/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input
{
    line-height: normal;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select
{
    text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type='button'],
input[type='reset'],
input[type='submit']
{
    /* 2 */
    cursor: pointer;

    -webkit-appearance: button;
    /* 3 */
    *overflow: visible;
    /* 4 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled]
{
    cursor: default;
}
/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type='checkbox'],
input[type='radio']
{
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */

    *height: 13px;
    /* 3 */
    *width: 13px;
    /* 3 */
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type='search']
{
    -webkit-box-sizing: content-box;
    /* 1 */
       -moz-box-sizing: content-box;
    /* 2 */
            box-sizing: content-box;

    -webkit-appearance: textfield;
}
/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration
{
    -webkit-appearance: none;
}
/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner
{
    padding: 0;

    border: 0;
}
/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea
{
    overflow: auto;
    /* 1 */

    vertical-align: top;
    /* 2 */
}
/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table
{
    border-spacing: 0;
    border-collapse: collapse;
}
/*------------------------------------*\
    $ПЕРЕМЕННЫЕ
\*------------------------------------*/
/*------------------------------------*\
    $MARKUP
\*------------------------------------*/
/**
 * Основные элементы используемые на странице
 */
.wrapper
{
    width: 1000px;
    margin: 0 auto;
}
.header:before,
.header:after
{
    display: table;

    content: ' ';
}
.header:after
{
    clear: both;
}
.header__title
{
    font-size: 2.000em;
    font-weight: bold;

    margin: .67em 0;
}
.header__subtitle
{
    font-weight: normal;
}
/**
 * Заголовки
 */
.hl__bigletter
{
    color: #f00;
}
.content
{
    padding: 20px 12px;
}
.content__table td
{
    vertical-align: top;
}
/**
 * Табы (вкладки)
 */
.tabs
{
    margin: 0;
    padding: 0;

    border-bottom: 1px solid #e1eaf6;
    border-left: 1px solid transparent;
}
.tabs__margintop
{
    margin-top: 30px;
}
.tab
{
    line-height: 2.5;

    position: relative;

    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;

    padding: 0 12px;

    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;

    color: #0d44a0;
    border: 1px solid #e1eaf6;
    border-bottom: none;

    *display: inline;
}
.tab:hover
{
    color: #f00;
}
.tab--active
{
    color: #f00;
    box-shadow: inset 0 2px #f00;
}
/**
 *  Контент вкладок
 */
.content__tab
{
    display: none;

    width: 100%;
    margin: 0;
    padding: 0;
}
.content__tab--active
{
    display: block;
}
/**
 *  Испольнитель
 */
.author__photo__wrapper
{
    padding: 5px;

    border: 1px dotted #f00;
}
.author__photo
{
    vertical-align: bottom;
}
.author__about-short dt
{
    font-size: 14px;
    font-weight: bold;

    display: block;

    color: #404040;
}
.author__about-short dd
{
    font-size: 14px;

    display: block;

    margin: 5px 0 15px;

    color: #404040;
}
/*------------------------------------*\
    $РЕЙТИНГ
\*------------------------------------*/
/**
 * Стиля для плагина рейтинга
 */
.rating
{
    font-size: 0;

    vertical-align: middle;
    white-space: nowrap;
}
.rating__star
{
    line-height: 0;

    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;

    width: 18px;
    height: 18px;
    margin: 0;
    padding: 0;

    cursor: pointer;
    vertical-align: middle;

    background: url('../images/sprite/rating.png') 0 0 no-repeat;

    *display: inline;
}
.rating__star--active
{
    background-position: -18px 0;
}
.rating__star--selected .rating__star
{
    cursor: default;
}
/*------------------------------------*\
    $ПРОГРЕСС-БАР
\*------------------------------------*/
/**
 * Прогресс-бар
 */
.progress
{
    font-size: 0;

    position: relative;

    overflow: hidden;

    height: 13px;
    margin: 0;

    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    background-color: #fff;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .29);
       -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .29);
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, .29);
}
.no-boxshadow .progress
{
    border: 1px solid #cecece;
}
.progress__bar
{
    line-height: 0;

    position: relative;
    z-index: 1;

    height: 100%;
    margin: 0;
    padding: 0;

    -o-transition: width .5s ease;
       transition: width .5s ease;

    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    background-color: #28bf14;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI4YmYxNCIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTQlIiBzdG9wLWNvbG9yPSIjOGFkYTE5IiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSI0OSUiIHN0b3AtY29sb3I9IiMyOGJmMTQiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhYWZmNTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
    background-image:    -moz-linear-gradient(bottom, #28bf14 0%, #8ada19 14.45%, #28bf14 49.02%, #aaff58 100%);
    background-image:      -o-linear-gradient(bottom, #28bf14 0%, #8ada19 14.45%, #28bf14 49.02%, #aaff58 100%);
    background-image: -webkit-linear-gradient(bottom, #28bf14 0%, #8ada19 14.45%, #28bf14 49.02%, #aaff58 100%);
    background-image:         linear-gradient(bottom, #28bf14 0%, #8ada19 14.45%, #28bf14 49.02%, #aaff58 100%);

    webkit-transition: width .5s ease;
}
.progress__counter
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;

    position: absolute;
    z-index: 2;
    top: 0;
    left: 45%;

    text-align: center;

    color: #000;
}
/*------------------------------------*\
    $ТЕКСТ
\*------------------------------------*/
/**
 * Оформление текста
 */
.row
{
    overflow: hidden;

    *zoom: 1;
}
.row:before,
.row:after
{
    display: table;

    content: ' ';
}
.row:after
{
    clear: both;
}
.col
{
    float: left;

    width: 38%;
    margin: 0 9% 0 0;
}
.col--last
{
    margin: 0;
}
.text
{
    font-family: 'PT Sans', sans-serif;
}
.text p
{
    line-height: 21px;

    margin: .938em 0;
    padding: 0;

    text-indent: 16px;

    color: #000;
}
.text ul
{
    margin: 0;
    padding: 0;

    list-style-type: none;
}
.text ul li
{
    line-height: 24px;

    display: block;

    padding-left: 17px;

    background: no-repeat 0 center url(../images/icons/list__item.png);
}
.text__h1
{
    font-size: 1.500em;
    font-weight: normal;
    line-height: .875em;

    margin: .313em 0;
    padding: 0;

    color: #333;
}
.text-link
{
    padding: 0;

    white-space: nowrap;
    text-decoration: none;

    color: #0070ed;
    border-bottom: 1px solid;
}
.text-link:hover
{
    color: #f00;
}
.text-link--dotted
{
    color: #353434;
    border-style: none none dotted none;
}
/*------------------------------------*\
    $КНОПКА
\*------------------------------------*/
/**
 * Кнопка с помощью спрайтов
 */
.btn__wrapper,
.btn__l__side,
.btn__repeat,
.btn__native,
.btn__sprite--button,
.btn__native--button
{
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;

    *display: inline;
}
.btn
{
    position: relative;

    height: 20px;

    cursor: pointer;
    text-align: right;

    outline: 0;
    background-repeat: no-repeat;
    background-position: 100% -60px;
}
.btn--hover.btn
{
    background-position: 100% -150px;
}
.btn--focus.btn
{
    top: -2px;

    height: 24px;
    margin-bottom: -2px;

    background-position: 100% -338px;
}
.btn--pressed.btn
{
    top: 0;

    margin-bottom: 0;

    background-position: 100% -240px;
}
@media screen and (min--moz-device-pixel-ratio: 0)
{
    .btn
    {
        background: no-repeat 99% -60px;
    }
    .btn--hover.btn
    {
        background-position: 99% -150px;
    }
    .btn--focus.btn
    {
        background-position: 99% -338px;
    }
    .btn--pressed.btn
    {
        background-position: 99% -240px;
    }
}
.btn__l__side
{
    font-style: normal;

    width: 9px;
    height: 100%;
    margin-right: -9px;

    vertical-align: top;

    background: no-repeat 0 0;
}
.btn--hover .btn__l__side
{
    background-position: 0 -90px;
}
.btn--focus .btn__l__side
{
    background-position: 100% -270px;
}
.btn--pressed .btn__l__side
{
    background-position: 100% -180px;
}
.btn__repeat
{
    line-height: 17px;

    height: 100%;
    margin: 0 5px;
    padding: 0 13px;

    text-align: center;
    vertical-align: top;
    white-space: nowrap;

    outline: 0;
    background: repeat-x 0 -30px;
}
.btn--hover .btn__repeat
{
    background-position: 0 -120px;
}
.btn--focus .btn__repeat
{
    line-height: 21px;

    background-position: 100% -304px;
}
.btn--pressed .btn__repeat
{
    line-height: 18px;

    background-position: 100% -210px;
}
.btn__text
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;

    cursor: pointer;

    text-shadow: 0 1px 0 rgba(255, 255, 255, .75);
}
.btn__native
{
    height: 20px;
    margin: 0;
    padding: 0;

    vertical-align: top;
}
.btn__native .btn__text
{
    line-height: 16px;

    margin: 0;
    padding: 0 20px;

    vertical-align: top;
}
.btn__default
{
    font: 0/0 a;

    width: 100%;
    height: 100%;
    margin: 0 0 0 -100%;
    padding: 0;

    vertical-align: top;

    opacity: 0;
    border: 0;
    outline: 0;
}
.btn__usability,
.btn__l__side
{
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.btn__sprite,
.btn,
.btn__l__side,
.btn__repeat
{
    background-image: url('../images/sprite/btn.png');
}
.js .btn__native--button
{
    display: none;
}
.no-js .btn__sprite--button
{
    display: none;
}
/*------------------------------------*\
    $HELPERS
\*------------------------------------*/
/**
 * Различные миксины и css помощники, для удобства верстки
 */
/**
  * Clearfix
  */
/**
  * Кросбраузерный inline-block
  */
