/**
 * Оформление текста
 */
.row {
  .clearfix();
  overflow: hidden;
  *zoom: 1;
}

.col {
  width: 38%;
  margin: 0 9% 0 0;
  float: left;
}

.col--last {
  margin: 0;
}

.text {
  font-family: 'PT Sans', sans-serif;
  p {
    text-indent: 16px;
    line-height: 21px;
    padding: 0;
    margin: 0.938em 0;
    color: #000;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      background: no-repeat 0 center ~"url(../images/icons/list__item.png)";
      padding-left: 17px;
      line-height: 24px;
      display: block;
    }
  }
}

.text__h1 {
  font-size: 1.500em;
  font-weight: normal;
  line-height: 0.875em;
  margin: 0.313em 0;
  padding: 0;
  color: #333;
}

.text-link {
  color: #0070ed;
  text-decoration: none;
  border-bottom: 1px solid;
  padding: 0;
  white-space: nowrap;
  &:hover {
    color: @color-active;
  }
}

.text-link--dotted {
  color: #353434;
  border-style: none none dotted none;
}