/**
 * Стиля для плагина рейтинга
 */

.rating {
  font-size: 0;
  white-space: nowrap;
  vertical-align: middle;
}
.rating__star {
  background: ~"url('../images/sprite/rating.png')" 0 0 no-repeat;
  width: 18px;
  height: 18px;
  margin: 0;
  padding: 0;
  line-height: 0;
  .inline-block();
  vertical-align: middle;
  cursor: pointer;
}
.rating__star--active {
  background-position: -18px 0;
}
.rating__star--selected {
  .rating__star {
    cursor: default;
  }
}