/**
 * Основные элементы используемые на странице
 */
.wrapper {
  width: 1000px;
  margin: 0 auto;
}

.header {
  .clearfix();
}

.header__title {
  font-size: 2.000em;
  font-weight: bold;
  margin: 0.67em 0;
}

.header__subtitle {
  font-weight: normal;
}

/**
 * Заголовки
 */
.hl__bigletter {
  color: @color-active;
}

.content {
  padding: 20px 12px;
}

.content__table {
  td {
    vertical-align: top;
  }
}


/**
 * Табы (вкладки)
 */
.tabs {
  border-bottom: 1px solid @color-border;
  border-left: 1px solid transparent;
  margin: 0;
  padding: 0;
}

.tabs__margintop {
  margin-top: 30px;
}

.tab {
  border: 1px solid @color-border;
  position: relative;
  border-bottom: none;
  color: @color-link;
  padding: 0 12px;
  line-height: 2.5;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  .inline-block();
  &:hover {
    color: @color-active;
  }
}

.tab--active {
  box-shadow: inset 0 2px @color-active;
  color: @color-active;
}



/**
 *  Контент вкладок
 */
.content__tab {
  width: 100%;
  padding: 0;
  margin: 0;
  display: none;
}

.content__tab--active {
  display: block;
}


/**
 *  Испольнитель
 */

.author__photo__wrapper {
  padding: 5px;
  border: 1px dotted @color-active;
}

.author__photo {
  vertical-align: bottom;
}

.author__about-short {
  dt {
    font-size: 14px;
    font-weight: bold;
    color: #404040;
    display: block;
  }
  dd {
    color: #404040;
    font-size: 14px;
    margin: 5px 0 15px;
    display: block;
  }
}