/**
 * Кнопка с помощью спрайтов
 */

.btn__wrapper,
.btn__l__side,
.btn__repeat,
.btn__native,
.btn__sprite--button,
.btn__native--button {
  .inline-block();
}

.btn {
  &:extend(.btn__sprite);
  outline: 0;
  text-align: right;
  position: relative;
  height: 20px;
  cursor: pointer;
  background-position: 100% -60px;
  background-repeat: no-repeat;
  .btn--hover& {
    background-position: 100% -150px;
  }
  .btn--focus& {
    background-position: 100% -338px;
    height: 24px;
    top: -2px;
    margin-bottom: -2px;
  }
  .btn--pressed& {
    background-position: 100% -240px;
    top: 0;
    margin-bottom: 0;
  }
}

// Хак для Firefox
@media screen and (min--moz-device-pixel-ratio:0) {
  .btn {
    background: no-repeat 99% -60px;
    .btn--hover& {
      background-position: 99% -150px;
    }
    .btn--focus& {
      background-position: 99% -338px;
    }
    .btn--pressed& {
      background-position: 99% -240px;
    }
  }
}

.btn__l__side {
  &:extend(.btn__sprite);
  &:extend(.btn__usability);
  font-style: normal;
  height: 100%;
  vertical-align: top;
  background: no-repeat 0 0;
  width: 9px;
  margin-right: -9px;
  .btn--hover & {
    background-position: 0 -90px;
  }
  .btn--focus & {
    background-position: 100% -270px;
  }
  .btn--pressed & {
    background-position: 100% -180px;
  }
}

.btn__repeat {
  &:extend(.btn__sprite);
  margin: 0 5px;
  margin: ~"0 9px!ie"; // Грязный хак для IE7
  padding: 0 13px;
  line-height: 17px;
  outline: 0;
  vertical-align: top;
  height: 100%;
  text-align: center;
  white-space: nowrap;
  background: repeat-x 0 -30px;
  .btn--hover & {
    background-position: 0 -120px;
  }
  .btn--focus & {
    background-position: 100% -304px;
    line-height: 21px;
  }
  .btn--pressed & {
    background-position: 100% -210px;
    line-height: 18px;
  }
}

.btn__text {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  cursor: pointer;
  text-shadow: 0 1px 0 rgba(255,255,255,0.75);
}

.btn__native {
  height: 20px;
  padding: 0;
  margin: 0;
  vertical-align: top;
  .btn__text {
    padding: 0 20px;
    margin: 0;
    line-height: 16px;
    vertical-align: top;
  }
}

.btn__default {
  width: 100%;
  height: 100%;
  margin: 0 0 0 -100%;
  padding: 0;
  vertical-align: top;
  opacity: 0;
  border: 0;
  outline: 0;
  font: 0/0 a;
}

.btn__usability {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn__sprite {
  background-image: ~"url('../images/sprite/btn.png')";
}

// Состояние кнопки при включенном \ выключенном JS

.js .btn__native--button {
  display: none;
}

.no-js .btn__sprite--button {
  display: none;
}