/*------------------------------------*\
    $СОДЕРЖАНИЕ
\*------------------------------------*/

/**
 * СОДЕРЖАНИЕ............ Краткий обзор подключаяемых блоков
 * ПЕРЕМЕННЫЕ............ Переменные используемые в блоках
 * RESET................. normalize.css v1.1.3 | Поддержка IE7
 * MARKUP................ Основные элементы разметки
 * РЕЙТИНГ............... Отображение для плагина рейтинг
 * ПРОГРЕСС-БАР.......... Отображение для прогресс-бара
 * ТЕКСТ................. Оформление текстов
 * КНОПКА................ Оформление кнопки
 * HELPERS............... Различные миксины для удобства верстки
 */




/*------------------------------------*\
    $RESET
\*------------------------------------*/
@import "general/normalize";




/*------------------------------------*\
    $ПЕРЕМЕННЫЕ
\*------------------------------------*/
@base-font-family: Arial, Helvetica, sans-serif;
@base-font-size: 100%;
@color-link: #0d44a0;
@color-border: #e1eaf6;
@color-default: #000;
@color-active: #ff0000;




/*------------------------------------*\
    $MARKUP
\*------------------------------------*/
@import "general/markup";




/*------------------------------------*\
    $РЕЙТИНГ
\*------------------------------------*/
@import "rating/rating";




/*------------------------------------*\
    $ПРОГРЕСС-БАР
\*------------------------------------*/
@import "progress/progress";




/*------------------------------------*\
    $ТЕКСТ
\*------------------------------------*/
@import "text/text";




/*------------------------------------*\
    $КНОПКА
\*------------------------------------*/
@import "button/button";




/*------------------------------------*\
    $HELPERS
\*------------------------------------*/
@import "helpers/helpers";